h2 {text-align: center}
#tracktable {width:100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
		position: relative;}
body {width: 100%}
table {margin-right: auto;
		margin-left: auto;}
#credits {width: 100%;
	text-align: center;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		font-style: italic;}
ul {display: inline-block;
		text-align: left;
		position: relative;}
@font-face {font-family:;
			font-style:;
			font-weight:;
			src: url("");}

#albumcover {height: 350px;
			margin-left: auto;
			margin-right: auto;
			background-image: url("nasty.jpg");
			background-repeat: no-repeat;
			background-position: center;}