h2 {text-align: center}
#tracktable {width:100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
		position: relative;}
body {width: 100%}
#credits {width: 100%;
		margin-right: auto;
		margin-left: auto;
		position: relative;}
ul {display: block;
		margin-right: auto;
		margin-left: auto;
		position: relative;}
@font-face {font-family:;
			font-style:;
			font-weight:;
			src: url("");}

div.albumcover {display: block;
				margin-left: auto;
				margin-right: auto
				background-image: url("https://upload.wikimedia.org/wikipedia/en/e/e6/As_Nasty_As_They_Wanna_Be_cover.jpg");
				background-repeat: no-repeat;
				background-position: center;}