h1 {font-family: Boycott;
	font-size: 4em;
	text-align: center}

#wrapper {
  padding: 0 0 100px;
  position: relative;
}

footer {
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  width: 100%;
}
#header {text-align: center;
		vertical-align: top}
#nav {text-align: center}
#footer {text-align: center;
		vertical-align: bottom;
		position: fixed;
		background-color: white; 
		bottom: 0;
		width: 100%;}