@font-face {font-family: Boycott;}
#header a {color: CornflowerBlue;}
#header a:link {font-style: none;
				color: CornflowerBlue;}
#header a:visited {color: DarkBlue;}
#header a:active {font-style: none;
				text-decoration: none}
#header a:hover {font-style: bold;
				font-weight: bold}
h1 {font-family: Boycott;
	font-style: normal;
	font-size: 4em;
	text-align: center;
	src: url("BOYCOTT_.ttf")}

#wrapper {
  padding: 0 0 100px;
  position: relative;
}
.required {font-style: bold
			font-weight: 120%;}

footer {
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  width: 100%;
}
#header {text-align: center;
		vertical-align: top;
		background-color: DarkSeaGreen;}
#nav {text-align: center}
#footer {text-align: center;
		vertical-align: bottom;
		position: fixed;
		background-color: white; 
		bottom: 0;
		width: 100%;}

span {font-size: 110%;
	font-style: bold
	font-weight: 120%;}
body {background-color: gainsboro}